
@{
}
<!-- partial:index.partial.html -->
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<div class="file-upload">


    <div class="file-upload-placeholder">
        <input id="fileinput" class="file-upload-input" type='file' onchange="readURL(this);" />
        <div class="drag-text">
            <h3>Drag and drop a file or select add Image</h3>
        </div>
    </div>

    <div class="file-upload-preview">
        <img class="file-upload-image" src="#" alt="your image" />
        <div class="file-upload-remove">
            <button type="button" onclick="removeUpload()" class="remove-image">Chọn lại<span class="image-title">Uploaded </span></button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">

            <thead>
                <tr>
                    <th>Tên File</th>
                    <th>#</th>
                    <th>Kích thước</th>
                    <th>Ngày đăng tải lên</th>

                </tr>
            </thead>
            <tbody class="body-table">
                <script id="filelist-template" type="x-handlebars-template">
                    {{#each this}}
                    <tr class="odd gradeX" id="{{FileAttachGUID}}">
                        <td>{{FileName}}</td>
                        <td id={{FileAttachGUID}}>
                            <a href="#" class="btn_delete" data-id={{FileAttachGUID}}>Delete</a>
                        </td>
                        <td>
                            {{FileSize}}
                        </td>
                        <td>{{CreateDate}}</td>
                    </tr>
                    {{/each}}
                </script>

            </tbody>
        </table>
    </div>

</div>

